#############################################################################
# Application stuff
#############################################################################

# Streamlit
.streamlit/secrets.toml
# temporary disk files
*.qcow2

# cloud init
user-data
meta-data
network-config

# microvm kernel extraction
vmlinuz-*
initrd.img-*
